@font-face {
    font-family: goldmanbold;
    src: url(fonts/Goldman-Bold.ttf);
}

body {
    background-color: #022733;
    background-image: linear-gradient(160deg, #022733 0%, #022733 20%, teal 100%);
}

.title {
    top: 10px;
    margin: auto;
    width: 50%;
    height: 15%;
    padding: 10px;
    text-align: center;
    font-size: 6vw;
    color: white;
    font-family: goldmanbold;
}

.qrcode {
    margin: auto;
    width: 50%;
    height: 50%;
    padding: 10px;
    align-items: center;
    text-align: center;
}

.subtitleone {
    bottom: 60px;
    margin: auto;
    width: 90%;
    height: 3%;
    padding: 10px;
    text-align: center;
    font-size: 2.3vw;
    color: black;
    font-family: goldmanbold;
}

.subtitletwo {
    bottom: 50px;
    margin: auto;
    width: 90%;
    height: 3%;
    padding: 10px;
    text-align: center;
    font-size: 2.3vw;
    color: black;
    font-family: goldmanbold;
}